:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mt-app-shell {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    margin-left: var(--sidebar-width-collapsed);
  }
}
