@use "../styles/breakpoints" as bp;

:host {
  display: block;
  min-height: 100vh;
}

.mt-app-shell {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  @include bp.desktop {
    margin-left: var(--mt-sidebar-width-collapsed);
  }
}
